@model RecruitmentSystem.Domain.Entities.Helper.CandidatoViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<h1>Editar Candidato</h1>
<hr />
@if (ViewBag.ErrorMessage != null)
{
    @await Html.PartialAsync("ErrorAlert", (string)ViewBag.ErrorMessage);
}
<form asp-action="Edit">
    <div class="row">
        @* INFORMACIONES GENERALES START *@
        <div class="col-md-4">
            <input asp-for="Id" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PuestoAspiraId" class="control-label"></label>
                <select asp-for="PuestoAspiraId" class="form-control" asp-items="@ViewBag.PuestoAspiraId">
                    <option selected>Selecciona</option>
                </select>
                <span asp-validation-for="PuestoAspiraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartamentoId" class="control-label"></label>
                <select asp-for="DepartamentoId" class="form-control" asp-items="@ViewBag.DepartamentoId">
                    <option disabled selected>Selecciona</option>
                </select>
                <span asp-validation-for="DepartamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalarioAspira" class="control-label"></label>
                <input asp-for="SalarioAspira" class="form-control" />
                <span asp-validation-for="SalarioAspira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecomendadoPor" class="control-label"></label>
                <input asp-for="RecomendadoPor" class="form-control" />
                <span asp-validation-for="RecomendadoPor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idiomas" class="control-label"></label>
                <select asp-for="Idiomas" class="form-control" id="select-idiomas" name="idiomas" multiple="multiple" asp-items="ViewBag.Idiomas">
                </select>
                <span asp-validation-for="Idiomas" class="text-danger"></span>
            </div>
        </div>
        @* INFORMACIONES GENERALES END *@

        @* EXPERIENCAS LABORALES START *@
        <div class="col-md-8">
            <h5>Ultimas Experiencias Laborales</h5>
            <br />
            @for (int i = 0; i < Model.ExperienciasLaborales.Count; i++)
            {
                <div class="card mb-2">
                    <div class="card-body">
                        <input asp-for="ExperienciasLaborales[i].Id" hidden />
                        <input asp-for="ExperienciasLaborales[i].CandidatoId" hidden />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ExperienciasLaborales[i].Empresa" class="control-label"></label>
                                    <input asp-for="ExperienciasLaborales[i].Empresa" class="form-control" />
                                    <span asp-validation-for="ExperienciasLaborales[i].Empresa" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ExperienciasLaborales[i].PuestoOcupado" class="control-label"></label>
                                    <input asp-for="ExperienciasLaborales[i].PuestoOcupado" class="form-control" />
                                    <span asp-validation-for="ExperienciasLaborales[i].PuestoOcupado" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="ExperienciasLaborales[i].FechaDesde" class="control-label"></label>
                                    <input type="date" class="form-control" asp-for="ExperienciasLaborales[i].FechaDesde" />
                                    <span asp-validation-for="ExperienciasLaborales[i].FechaDesde" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="ExperienciasLaborales[i].FechaHasta" class="control-label"></label>
                                    <input type="date" class="form-control" asp-for="ExperienciasLaborales[i].FechaHasta" />
                                    <span asp-validation-for="ExperienciasLaborales[i].FechaHasta" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="ExperienciasLaborales[i].Salario" class="control-label"></label>
                                    <input type="number" class="form-control" min="0" asp-for="ExperienciasLaborales[i].Salario" />
                                    <span asp-validation-for="ExperienciasLaborales[i].Salario" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @* EXPERIENCAS LABORALES END *@
    </div>
    <hr />
    @* COMPETENCIAS START *@
    <h5>Principales Competencias</h5>
    <div class="row mt-1">
        <br />
        @for (int i = 0; i < Model.Competencias.Count; i++)
        {
            <div class="col-md-4">
                <div class="card mb-1">
                    <div class="card-body">
                        <input asp-for="Competencias[i].Id" hidden />
                        <input asp-for="Competencias[i].CandidatoId" hidden />
                        <div class="form-group">
                            <label asp-for="Competencias[i].Descripcion" class="control-label"></label>
                            <input class="form-control" asp-for="Competencias[i].Descripcion" />
                            <span asp-validation-for="Competencias[i].Descripcion" class="text-danger"></span>
                            <span asp-validation-for="Competencias[i].Descripcion" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @* COMPETENCIAS END *@
    <hr />
    @* CAPACITACIONES START *@
    <h5>Principales Capacitaciones</h5>
    <div class="row mt-1">
        <br />
        @for (int i = 0; i < Model.Capacitaciones.Count; i++)
        {
            <div class="col-md-6">
                <div class="card mb-1">
                    <div class="card-body">
                        <input asp-for="Capacitaciones[i].Id" hidden />
                        <input asp-for="Capacitaciones[i].CandidatoId" hidden />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Capacitaciones[i].Descripcion" class="control-label"></label>
                                    <input class="form-control" asp-for="Capacitaciones[i].Descripcion" />
                                    <span asp-validation-for="Capacitaciones[i].Descripcion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Capacitaciones[i].NivelId" class="control-label"></label>
                                    <select asp-for="Capacitaciones[i].NivelId" class="form-control" asp-items="@ViewBag.NivelesCapacitacion">
                                        <option selected disabled>Selecciona</option>
                                    </select>
                                    <span asp-validation-for="Capacitaciones[i].NivelId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Capacitaciones[i].FechaDesde" class="control-label"></label>
                                <input asp-for="Capacitaciones[i].FechaDesde" class="form-control" />
                                <span asp-validation-for="Capacitaciones[i].FechaDesde" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Capacitaciones[i].FechaHasta" class="control-label"></label>
                                <input asp-for="Capacitaciones[i].FechaHasta" class="form-control" />
                                <span asp-validation-for="Capacitaciones[i].FechaHasta" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Capacitaciones[i].Institucion" class="control-label"></label>
                                <input asp-for="Capacitaciones[i].Institucion" class="form-control" />
                                <span asp-validation-for="Capacitaciones[i].Institucion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @* CAPACITACIONES END *@
    <div class="mt-2 mb-2">
        <div class="form-group col-md-4 p-0">
            <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#select-idiomas').select2({
                placeholder: "Selecciona",
                allowClear: true
            });
        });
    </script>
}
