@model RecruitmentSystem.Domain.Entities.ViewModel.DepartamentoFilterModel

@{
    ViewData["Title"] = "Gestion de Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestion de Departamentos</h2>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Agregar</a>
</p>

    <form asp-action="Index" method="get" class="w-100">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input asp-for="Descripcion" class="form-control" />
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-end">
                <div class="form-group">
                    <input type="submit" value="Filtrar" class="btn btn-primary" />
                </div>
                <div class="form-group ml-1">
                    <a asp-action="Index" class="btn btn-info">Limpiar</a>
                </div>
            </div>
        </div>
    </form>


@if (ViewBag.ErrorMessage != null)
{
    @await Html.PartialAsync("ErrorAlert", (string)ViewBag.ErrorMessage);
}
<table class="table">
    <thead>
        <tr>
            <th>
                <span>Id</span>
            </th>
            <th>
                <span>Descripcion</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Departamentos)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Id)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
