@model RecruitmentSystem.Domain.Entities.ViewModel.ContratacionViewModel

@{
    ViewData["Title"] = "Proceso de Seleccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Iniciar Contratación</h2>
<hr />
@if (ViewBag.ErrorMessage != null)
{
    @await Html.PartialAsync("ErrorAlert", (string)ViewBag.ErrorMessage);
}
<div class="row">
    <div class="col-md-5">
        <form asp-action="IniciarContratacion">
            <input asp-for="IdCandidato" hidden/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartamentoId" class="control-label"></label>
                <select asp-for="DepartamentoId" class="form-control"  asp-items="@ViewBag.DepartamentoId">
                    <option disabled>Selecciona</option>
                </select>
                <span asp-validation-for="DepartamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PuestoId" class="control-label"></label>
                <select asp-for="PuestoId" class="form-control" asp-items="@ViewBag.PuestoAspiraId">
                    <option disabled>Selecciona</option>
                </select>
                <span asp-validation-for="PuestoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalarioMensual" class="control-label"></label>
                <input asp-for="SalarioMensual" class="form-control" type="number"/>
                <span asp-validation-for="SalarioMensual" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Contratar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Candidato">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
