@model RecruitmentSystem.Domain.Entities.ExperienciaLaboral

@{
    ViewData["Title"] = "Gestion de Experiencias Laborales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<h2>Crear Experiencia Laboral</h2>
<hr />
@if (ViewBag.ErrorMessage != null)
{
    @await Html.PartialAsync("ErrorAlert", (string)ViewBag.ErrorMessage);
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Empresa" class="control-label"></label>
                <input asp-for="Empresa" class="form-control" />
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PuestoOcupado" class="control-label"></label>
                <input asp-for="PuestoOcupado" class="form-control" />
                <span asp-validation-for="PuestoOcupado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDesde" class="control-label"></label>
                <input asp-for="FechaDesde" class="form-control" />
                <span asp-validation-for="FechaDesde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHasta" class="control-label"></label>
                <input asp-for="FechaHasta" class="form-control" />
                <span asp-validation-for="FechaHasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" class="form-control"  type="number"/>
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CandidatoId" class="control-label"></label>
                <select asp-for="CandidatoId" class="form-control" id="select-candidato" asp-items="@ViewBag.CandidatoId">
                    <option selected disabled>Seleccione</option>
                </select>
                <span asp-validation-for="CandidatoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#select-candidato').select2({
                placeholder: "Selecciona",
            });
        });
    </script>
}
